@import "tailwindcss";


@theme {
    /* ===== COLORS ===== */
    --color-black: black;
    --color-white: #fff;
    --color-gray-100: #eaeaea;
    --color-gray-200: #ccc;
    --color-gray-300: #a6a3a3;


    /* Tên biến có ngữ nghĩa - SEMANTIC COLORS */
    --text-color: var(--color-black);
    --primary-color: var(--color-black);


    /* ====== TYPOGRAPHY ====== */
    --font-family-base: 'Plus Jakarta Sans', sans-serif;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi: 600;
    --font-weight-bold: 700;

    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 15px;
    --font-size-lg: 18px;


    --line-height-normal: 1.6;
    --line-height-medium: 1.8;


    /* ======= SPACING ======= */
    --container-width: 1480px;
    --button-height: 36px;

}

/* Base style */
@layer base {
    body {
        font-family: var(--font-family-base);
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-medium);
        background-color: var(--color-white);
    }

    button {
        cursor: pointer;
    }

}

/* Class tiện ích */
@layer utilities {
    .container {
        max-width: var(--container-width);
        width: 100%;
        margin-inline: auto;
        padding-inline: 20px;
    }

    .text-primary {
        color: var(--primary-color);
    }

    .text-gray {
        color: var(--color-gray-300);
    }

    .bg-primary{
        background-color: var(--primary-color);
    }
}

@layer components {
    .btn{
        height: var(--button-height);
        padding: 0 28px;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semi);
        color: var(--color-white);
        border: 1px solid transparent;
        border-radius: 999px;
    }

    .btn:hover{
        background-color: var(--color-white);
        color: var(--text-color);
        transition: all .2s ease-in;
    }

    .btn-outline{
        border: 1px solid var(--color-white);

    }

    .img{
        display: block;
        max-width: 100%;
        object-fit: cover;
    }
}